:root {
    --hover-background-color: rgba(1, 92, 131, 0.625);
    --button-background-color: rgba(1, 92, 131, 0.514);
    --header-background-color: rgb(0, 108, 154);
    --white-text-color: rgb(255, 255, 255);
    --header-height: 80px;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    
}

.header { 
    display: flex;
    justify-content: right;
    width: 100vw;
    height: 130px;
    color: var(--white-text-color);
    background-color: var(--header-background-color);
}

.nav { 
    display: flex;
    align-items: center;
    margin-right: 20vw;

}

.conteiner-button { 
    position: absolute;
    margin-right: 15vw;
    list-style: none;
    margin-top: 322px;
    visibility: hidden;
    z-index: -1;
    transform: translateY(-303px);
    transition: all 0.3s ease-out;

}

.menu {
    font-size: 30px;
    color: var(--white-text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 40vh;
    height: 100%;
    border: 1px solid rgb(56, 120, 163);
    background-color: var(--button-background-color);
    margin-bottom: 10px;
    z-index: 100;
}

.conteiner-button li { 
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 40vh;
    height: calc(var(--header-height) * 0.8);
    min-height: 40px;
    border: 1px solid rgb(56, 120, 163);
    background-color: var(--button-background-color);
}

.button:hover { 
    background-color: var(--hover-background-color);
}

.nav input[type="checkbox"] {
    display: none;
}

#menu-checkbox:checked ~ .conteiner-button{
    visibility: visible;
    transform: translateY(0);
}

.nav:hover .conteiner-button {
    visibility: visible;
    transform: translateY(0);
}

