:root {
    --hover-background-color: rgba(1, 92, 131, 0.625);
    --button-background-color: rgba(1, 92, 131, 0.514);
    --header-background-color: rgb(0, 108, 154);
    --white-text-color: rgb(255, 255, 255);
    --header-height: 80px;

    --forma-background-color: rgb(129, 133, 255);
    --forma-input-background-color: rgb(39, 76, 99);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    /* gap: 100%; */
}

.header { 
    display: flex;
    justify-content: right;
    width: 100vw;
    height: 130px;
    color: var(--white-text-color);
    background-color: var(--header-background-color);
}

.nav { 
    display: flex;
    align-items: center;
    margin-right: 20vw;

}

.conteiner-button { 
    position: absolute;
    margin-right: 15vw;
    list-style: none;
    margin-top: 322px;
    visibility: hidden;
    transform: translateY(-303px);
    transition: all 0.3s ease-out;

     z-index: -1;/* */
}

.menu {
    font-size: 30px;
    color: var(--white-text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 40vh;
    height: 100%;
    border: 1px solid rgb(56, 120, 163);
    background-color: var(--button-background-color);
    margin-bottom: 10px;
}

.conteiner-button li { 
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 40vh;
    height: calc(var(--header-height) * 0.8);
    min-height: 40px;
    border: 1px solid rgb(56, 120, 163);
    background-color: var(--button-background-color);
}

.button:hover { 
    background-color: var(--hover-background-color);
}

.nav input[type="checkbox"] {
    display: none;
}

#menu-checkbox:checked ~ .conteiner-button{
    visibility: visible;
    transform: translateY(0);
}

.nav:hover .conteiner-button {
    visibility: visible;
    transform: translateY(0);
}

.yarlik {
    position: absolute;
    left: 485px;
    margin-top: 20px;
    width: 50px;
    height: 50px;
    border-radius: 30%;
    background-color:  var(--forma-background-color);
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0);
}

.yarlik_2 {
    position: absolute;
    left: 485px;
    margin-top: 20px;
    width: 50px;
    height: 50px;
    border-radius: 30%;
    background-color:  var(--forma-background-color);
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.526);
}

.yarlik-krepeg {
    box-shadow: 4px 1px 10px rgba(0, 0, 0, 0);
}


.yarlik_2:hover {
    cursor: pointer;
    transform: translateX(15px);
}

body input[type="checkbox"] {
    display: none;
}

.forma {
    width: 500px;
    height: 82.3vh;
    background-color: var(--forma-background-color);
    box-shadow: 4px 1px 10px rgba(0, 0, 0, 0.545);
}

.vidvig-okno {
    transform: translateX(-498px);
    transition: all 0.6s ease;
}

#yarlik-okna:checked ~ .vidvig-okno {
    transform: translateX(0);
}


.animation-zagruski {
    position: absolute;
    top: 50vh;
    left: 50vw;
    width: 60px;
    height: 15px;
    background-color: black;
}

@keyframes zagruzka {
  0% {
    transform: scale(0.3);
  }
  25% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.8);
  }
}